<div class="sign-up-body container">
  <aside class="sidebar">Sidebar</aside>

  <main class="sign-up-form">
    <h2>Registrate</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Nombre" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Contraseña (al menos 6 caracteres)" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirma tu contraseña" %>
      </div>

      <div class="form-group">
        <select name="permisos">
          <option value="">--</option>
          <option value="1" selected="selected">Comprador</option>
          <option value="2">Vendedor</option>
        </select>
      </div>

      <div class="actions">
        <%= f.submit "Registrate", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </main>

</div>