<div class="sign-up-body container">
  <aside class="sidebar">
    <%= image_tag "sign-up.jpg", alt: "Sign up", class: "img-fluid sign-up-img"%>
  </aside>

  <div class="sign-up-section text-center col-md-6 px-5 circles">
    <h2 class="fw-bold mt-4 mt-md-0 sign-up-title">Registrate</h2>
    <div id="black-circle"></div>
    <main class="sign-up-form border">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :name, 'Nombre', class: 'fw-bold d-block' %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Ingresa tu nombre aquí", class: "sign-form-field rounded" %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'Correo', class: 'fw-bold d-block' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Ingresa tu correo aquí", class: "sign-form-field rounded" %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Contraseña (al menos 6 caracteres)', class: 'fw-bold' %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Ingresa tu contraseña aquí", class: "sign-form-field rounded" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirma tu contraseña', class: 'fw-bold' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Ingresa tu contraseña aquí", class: "sign-form-field rounded" %>
        </div>

        <div class="form-group">
          <%= f.label :selecciona_una_opción, class: 'fw-bold' %>
          <select name="permisos" , class="sign-form-field rounded">
            <option value="1">Comprador</option>
            <option value="2">Vendedor</option>
          </select>
        </div>

        <div class="actions">
          <%= f.submit "Registrarse", class: "btn btn-primary sign-btn" %>
        </div>
      <% end %>
    </main>
    <div id="blue-circle"></div>
    <%= render "devise/shared/links" %>
  </div>
</div>