<div class="container">
<h3 class="brand-1 mb-4 p-3">Apple</h3>
  <div class="d-flex flex-row justify-content-evenly">
    <div> <%= render 'partials/marcas' %> </div>
  </div>
<h3 class="brand-1 mb-4 p-3">Samsung</h3>
  <div class="d-flex flex-row justify-content-evenly">
    <div> <%= render 'partials/marcas' %> </div>
  </div>
<h3 class="brand-1 mb-4 p-3">Xiaomi</h3>
  <div class="d-flex flex-row justify-content-evenly">
    <div> <%= render 'partials/marcas' %> </div>
  </div>
<h3 class="brand-1 mb-4 p-3">Oppo</h3>
  <div class="d-flex flex-row justify-content-evenly">
    <div> <%= render 'partials/marcas' %> </div>
  </div>
<h3 class="brand-1 mb-4 p-3">Motorola</h3>
  <div class="d-flex flex-row justify-content-evenly">
    <div> <%= render 'partials/marcas' %> </div>
  </div>
<h3 class="brand-1 mb-4 p-3">Huawei</h3>
  <div class="d-flex flex-row justify-content-evenly">
    <div> <%= render 'partials/marcas' %> </div>
</div>
