<!DOCTYPE html>
<html>
  <head>
    <title>BCDIC22RorProyectoFinalTeam2</title>
    <script src="https://kit.fontawesome.com/5c11506f85.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'partials/navbar' %>
    <%= render 'partials/littlemenu' %>

    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
